{% extends 'base.html' %}
{% load static %}

{% block main %}
    <div class="container">
        <h1 class="news_header">История школы</h1>
        <p>Год основания школы: 1925</p>

        <p>История средней школы №1 г. Симай начинается в 1922 году.</p>

        <p>В 1924 году в школе была создана пионерская организация. Школа являлась единственным очагом культуры города.</p>

        <p>До 1936 года школа была семилетней.

            В 1936 Школа №1 становится средней.

            В 1939 - 1940 уч. году средняя школа №1 становится базовой школой всего района.
        </p>

        <p>В годы великой отечественной войны учащиеся школ №2 и №3 занимались в первой школе, занятия шли в три смены.

            С первых дней войны учителя стали уходить на фронт. Поредели ряды юношей старших классов. 12 учителей и 65 учащихся школы не вернулись с полей сражений, в их честь установлен памятник во дворе школы.

            В 1963 году было сдано в эксплуатацию новое здание школы, в котором занимаются и в настоящее время. За все годы школа может гордиться своими выпускниками.
        </p>
        <div></div>
        <h2 class="news_header">Контактная информация</h2>

        <div class="contacts">
            <div>
                <p>Контакты руководства:</p>
                <p>+375(29)305-55-78</p>
            </div>
            <div>
                <p>Адрес:</p>
                <p>г.Минск ул.Революционная 8</p>
            </div>
            <img class="contacts_img" src="{% static 'img/map.png' %}" alt="">
        </div>
        <div></div>
        <h2 class="news_header">Лицензии</h2>

        {% for license in licenses %}
        <div class="lisence">
            <p>{{ license.name }}</p>
            <a href="{{ license.file.url }}">Посмотреть</a>
        </div>
        {% endfor %}

        <h2 class="news_header">Награды</h2>
        {% for award in awards %}
        <div>
            <img class="contacts_img" src="{{ award.img.url }}" alt="">
            <p>{{ award.name }}</p>
        </div>
        {% endfor %}


    </div>
{% endblock %}