{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1 class="news_header">Материально-техническое обеспечение и оснащенность образовательного процесса</h1>
        <p>Кабинеты школы оснащены необходимыми учебно-дидактическим комплексами. Компьютерные технологии используются в управлении и в преподавании.
Оборудованные учебные кабинеты, объекты для проведения практических занятий, библиотеки, объекты спорта, средства обучения и воспитания, приспособленные для использования инвалидами и лицами с ограниченными возможностями здоровья, отсутствуют.</p>
        <p>Учебно-материальная база школы позволяет организованно, на современном уровне проводить учебно-воспитательную работу с учащимися. Во всех кабинетах установлены персональные компьютеры.</p>
        <div class="news_div"></div>
        <div class="news_div"></div>
        <div class="news_div"></div>
    </div>
{% endblock %}