{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <p class="news_header">Социально-личностное направление</p>
        <div class="paid_div">
            <div class="paid_serv">
                <p>Подготовка к обучению в школе</p>
                <p>140 руб.</p>
            </div>
            <div class="paid_serv">
                <p>Английский язык</p>
                <p>100 руб.</p>
            </div>
            <div class="paid_serv">
                <p>Эмоционально-волевое развитие с использованием сенсорной комнаты</p>
                <p>70 руб.</p>
            </div>
            <div class="paid_serv">
                <p>Удивительный мир</p>
                <p>80 руб.</p>
            </div>
        </div>
        <p class="news_header">Художественно-эстетическое направление</p>
        <div class="paid_serv">
            <p>Студия народного танца</p>
            <p>80 руб.</p>
        </div>
        <div class="paid_serv">
            <p>Студия эстрадного танца</p>
            <p>40 руб.</p>
        </div>
        <div class="paid_serv">
            <p>Музыкально-театрализованная деятельность</p>
            <p>40 руб.</p>
        </div>
        <div class="paid_serv">
            <p>Юный художник</p>
            <p>50 руб.</p>
        </div>
    </div>
{% endblock %}