{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1 class="news_header">Образовательные стандарты и требования</h1>
        <p>Образовательный стандарт призван обеспечить:
оптимальную степень упорядочения структуры, содержания специального образования,
его результатов, объема оптимальной учебной нагрузки для учащихся с ОПФР;
преемственность в содержании специального образова ния;
регулирование взаимоотношений участников образовательного процесса в достижении
целей специального образования, повышении его качества.
</p>
        <p>Образовательный стандарт раскрывает область его применения, содержит опред еления
терминов основных объектов стандартизации, общие положения, а также включает:
цель и задачи специального образования;
общие требования:
к учреждениям, обеспечивающим получение специального образования;
к специальным условиям для получения образования учащимися с ОПФР;
к документам об образовании;
к обязательному минимуму содержания образования на базовом уровне изучения
учебных предметов для учащихся с ОПФР в соответствии с их познавательными
возможностями в адекватной их здоровью среде обучения;
к составу учебных предметов и коррекционных занятий для учреждений,
обеспечивающих получение специального образования;
к объему оптимальной учебной нагрузки в каждом классе в учебную неделю;
к особенностям организации образовательного процесса в учр еждениях,
обеспечивающих получение специального образования;
к уровню подготовки выпускников с ОПФР в соответствии с их познавательными
возможностями.
Общие требования к обязательному минимуму содержания специального образования на
базовом уровне изучения учебных предметов, уровню подготовки выпускников по учебному
предмету устанавливаются образовательными стандартами по соответствующим учебным
предметам.
Общие требования к перечню учебных предметов и коррекционных занятий для
учреждений, обеспечивающих получение специального образования, устанавливаются
настоящим образовательным стандартом в зависимости от структуры и степени тяжести
</p>
        <p>Целью специального образования является повышение качества жизни учащихся с ОПФР
через реализацию их права на получение образования или коррекционно -педагогической
помощи в соответствии с их познавательными возможностями и состоянием здоровья.
Задачи специального образования:
обеспечение специальных условий для овладения учащимися с ОПФР основами наук,
навыками умственного и физического труда, различными видами познавательной, творческой
и коммуникативной деятельности в соответствии с их познавательными возможностями и
состоянием здоровья;
формирование у учащихся с ОПФР готовности к трудовой деятельности,
самостоятельному жизненному выбору и активной адаптации в социуме, созидательному и
ответственному участию в жизнедеятельности семьи, общества и государства;
сохранение и укрепление физического и психического здоровья учащихся, воспитание
бережного и ответственного отношения к собственному здоровью и здоровью других граждан,
формирование гигиенических навыков, опыта здорового образа жизни и безопасного
поведения.</p>
        <p>На уровне общего среднего образования к учреждениям, обеспечивающим получение
специального образования, относятся:
специальные учреждения образования;
общеобразовательные учреждения, создавшие условия для получения образования
учащимися с ОПФР.
В зависимости от физических и (или) психических нарушений развития детей с ОПФР
создаются следующие специальные учреждения образования:
специальная общеобразовательная школа (школа-интернат) для детей с нарушениями
зрения;
специальная общеобразовательная школа (школа-интернат) для детей с нарушениями
функций опорно-двигательного аппарата;
специальная общеобразовательная школа (школа-интернат) для детей с тяжелыми
нарушениями речи;
специальная общеобразовательная школа (школа-интернат) для детей с нарушениями
психического развития (трудностями в обучении);
специальная общеобразовательная школа (школа-интернат) для детей с нарушением
слуха (первое и второе отделения);
вспомогательная школа (школа-интернат) (первое и второе отделения);
центр коррекционно-развивающего обучения и реабилитации.
Ко всем специальным учреждениям образования предъявляются следующие общие
требования.
Специальное учреждение образования является юридическим лицом и осуществляет
свою деятельность в соответствии с Законами Республики Беларусь «Об образовании», «Об
образовании лиц с особенностями психофизического развития (специальном образовании)»,
«Об общем среднем образовании», другим законодательством Республики Беларусь,
настоящим образовательным стандартом специального образования, Положением о
специальной общеобразовательной школе (школе-интернате), Положением о вспомогательной
школе (школе-интернате), Положением о центре коррекционно -развивающего обучения и
реабилитации, уставами названных специальных учреждений образования.
Материально-техническая база специального учреждения образования формируется
учредителем в соответствии с установленными законодательством Республики Беларусь
нормативами.
Помещения, кабинеты, лаборатории, площадки оснащаются средствами обучения,
учебным оборудованием в соответствии с перечнем средств обучения, учебного оборудования
для специальных учреждений образования и общеобразовательных учреждений,
утверждаемым Министерством образования Республики Беларусь.
Специальные учреждения образования комплектуются педагогическими работниками,
имеющими высшее педагогическое (дефектологическое) образование и (или) квалификацию
учителя-дефектолога (учитель-дефектолог, учитель-логопед, сурдопедагог, тифлопедагог,
олигофренопедагог) и (или) базовое образование, соответствующее профилю преподаваемого
учебного предмета, и необходимую квалификацию.
Финансирование расходов на содержание специального учреждения образования
осуществляется в соответствии с государственными нормативами в ра счете на одного
учащегося с ОПФР.
В специальных учреждениях образования должны быть созданы условия для проведения
коррекционных занятий (наличие кабинетов коррекционной работы, оснащенных необходимым
коррекционно-развивающим оборудованием, средствами обуч ения и учебной литературой).
В специальных учреждениях образования должны быть созданы условия для проведения
факультативных, стимулирующих и поддерживающих занятий, организационно -
воспитательной и кружковой работы, деятельности общественных организаций (о бъединений)
работников и учащихся.
В специальных общеобразовательных и вспомогательных школах -интернатах должны
быть созданы условия для круглосуточного пребывания учащихся.
В общеобразовательных учреждениях, создавших условия для получения образования
учащимися с ОПФР (далее – общеобразовательных учреждениях), обучение и воспитание
учащихся с ОПФР осуществляется в специальных классах или классах интегрированного
(совместного) обучения и воспитания.
Обучение и воспитание учащихся с ОПФР в общеобразовательном учреждении может
быть организовано при выполнении следующих общих требований:
укомплектованность педагогическими (дефектологическими) кадрами;
введение должности учителя-дефектолога в классах интегрированного (совместного)
обучения и воспитания полной наполняемости;
организация коррекционно-педагогических занятий (коррекционных занятий и уроков по
отдельным учебным предметам специального учебного плана) для учащихся с ОПФР в классах
интегрированного (совместного) обучения и воспитания неполной наполняемос ти;
материально-техническое и учебно-материальное обеспечение в соответствии с
государственными нормативами для специального учреждения образования;
наличие кабинета учителя-дефектолога, оснащенного необходимым коррекционно -
развивающим оборудованием, средс твами обучения и учебной литературой;
профессиональная и личностная готовность педагогических работников
общеобразовательного учреждения к обучению и воспитанию учащихся с ОПФР.
</p>

    </div>
{% endblock %}