{% extends 'base.html' %}

{% block main %}
    <div class="container">
        <h1 class="news_header">Стипендии и меры поддержки обучающихся</h1>
        <p>Обучающимся университета предоставляются следующие виды стипендий:</p>
        <ul>
            <li>государственная академическая стипендия</li>
            <li>государственная социальная стипендия</li>
            <li>стипендии Президента Российской Федерации и стипендии Правительства Российской Федерации;</li>
            <li>стипендии Президента Российской Федерации для студентов и аспирантов, обучающихся по направлениям подготовки (специальностям), соответствующим приоритетным направлениям модернизации и технологического развития российской экономики.</li>
        </ul>
        <p>Информация о мерах социальной поддержки обучающихся:</p>
        <p>В университете разработано Положение о порядке оказания материальной поддержки обучающихся.
Основными принципами материальной поддержки обучающихся являются: адресность, последовательность и соразмерность, информированность и открытость.
Материальная поддержка может быть оказана нуждающимся обучающимся университета, оказавшимся в жизненной ситуации, обстоятельства которой ухудшают их условия жизнедеятельности и последствия которых они не могут преодолеть самостоятельно</p>
        <div class="news_div"></div>
    </div>
{% endblock %}